.card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  border-radius: 40px 40px 0 0;
  border-top: 1px solid #48456c;
  border-left: 1px solid #48456c;
  border-right: 1px solid #48456c;
  border-bottom: none;
  overflow: hidden;
}

.cardContent {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  flex: 1;
  min-height: 0;
}

.cardContent > *:first-child {
  border-bottom: 1px solid #48456c;
  padding-bottom: 24px;
  margin-bottom: 24px;
}

.mainContentCardLight {
  position: absolute;
  bottom: -350px;
  right: -300px;
  height: 1000px;
  width: 1000px;
  background: radial-gradient(
    ellipse at center,
    rgba(91, 71, 192, 0.3) 0%,
    rgba(167, 155, 222, 0) 70%
  );
  opacity: 0.5;
  z-index: -1;
  pointer-events: none; /* não atrapalha clique*/
}
