.stockContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.tableWrapper {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding-right: 30px;
  padding-bottom: 100px;
}

.tableWrapper ProductTable {
  padding-bottom: 100px;
}

.tableWrapper::-webkit-scrollbar {
  width: 8px;
}

.tableWrapper::-webkit-scrollbar-track {
  background: var(--scrollbar-track);
  border-radius: 4px;
}

.tableWrapper::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 4px;
}

.tableWrapper::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

.newProductModalInputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  margin: 40px 0;
}

.newProductModalInputs input {
  background-color: var(--table-child-even);
  border: none;
  color: var(--text);
  height: 40px;
  border-radius: 10px;
  padding: 10px;
}

.newProductModalButtons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 24px;
}

.cancelButton {
  color: var(--text);
  background: var(--buttons-bg-secondary);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.cancelButton:hover {
  background: var(--buttons-secondary-hover);
}

.createButton {
  color: var(--text);
  background: var(--buttons-bg);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.createButton:hover {
  background: var(--buttons-hover);
}

.deleteModalButtons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 24px;
}

.deleteModalP {
  margin-top: 20px;
}

.deleteButton {
  color: var(--text);
  background: var(--buttons-bg);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.deleteButton:hover {
  background: var(--buttons-hover);
}
