body {
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.bg-arrow {
  position: absolute;
  z-index: -1;
  filter: blur(10px);
  opacity: 0.1;
}

.bg-arrow:first-of-type {
  width: 700px;
  left: -120px;
  bottom: -80px;
  transform: rotate(10deg);
}

.bg-arrow:nth-of-type(2) {
  width: 700px;
  right: -220px;
  bottom: -350px;
  transform: scaleX(-1);
}

h1 {
  color: #fff8f0;
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
}

img {
  width: 35px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 55px 40px 40px 40px;
  height: 350px;
  width: 400px;
  border-radius: 45px;
  border: 1px solid #48456c;
  background-image: linear-gradient(
    to top,
    rgba(155, 137, 235, 0.05),
    rgba(255, 255, 255, 0)
  );

  & label {
    color: #fff8f0;
    font-size: 14px;
    margin-bottom: 2px;
  }

  & .password-items {
    display: flex;
    flex-direction: row;
    gap: 165px;

    & .forgot {
      font-size: 11px;
      color: #a79bde;
      padding-top: 5px;
    }
  }

  & .input {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background: transparent;
    position: relative;
    border-radius: 10px;
    border: none;
  }

  & .input::before,
  .input::after {
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 12px;
    background-color: transparent;
    padding: 0.5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to bottom, #a79bde, transparent);
    z-index: -1;
  }

  & .input::after {
    filter: blur(4px);
    opacity: 0.2;
  }

  & input {
    border-radius: 12px;
    border: none;
    margin: auto 0;
    background-color: #13131a;
    height: 40px;
    width: 320px;
  }

  .hidden-icon {
    position: absolute;
    right: 15px;
    top: 10px;
    color: #a79bde;
    width: 20px;
    height: 20px;
  }

  & button {
    border-radius: 10px;
    height: 50px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    margin-top: 12px;
    background-color: #a79bde;
    border: none;
  }
}

.toSignIn {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  height: 70px;
  width: 400px;
  align-items: center;
  justify-content: center;
  border: 1px solid #48456c;
  border-radius: 25px;
  gap: 45px;
  background-image: linear-gradient(
    to top,
    rgba(155, 137, 235, 0.05),
    rgba(255, 255, 255, 0)
  );

  & p {
    font-size: 16px;
    color: #fff8f0;
  }

  & .constrastP {
    color: #a79bde;
  }
}
