.formGroup {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.formGroup input {
  background-color: var(--table-child-even);
  border: none;
  color: var(--text);
  height: 40px;
  border-radius: 10px;
  padding: 10px;
}

.editProductButtons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 24px;
}

.cancelButton {
  color: var(--text);
  background: var(--buttons-bg-secondary);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.cancelButton:hover {
  background: var(--buttons-secondary-hover);
}

.saveButton {
  color: var(--text);
  background: var(--buttons-bg);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.saveButton:hover {
  background: var(--buttons-hover);
}

.errorMessage {
  color: #e57373;
  margin-top: 8px;
  font-size: 12px;
}
