@font-face {
  font-family: "Rinter";
  src: url("./fonts/Rinter.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rinter, sans-serif;
}

html,
body,
#root {
  height: 100%;
}

body {
  min-height: 100vh;
  width: 100vw;
}

html.light body {
  background-color: #c8c5c1;
  color: #0c0c0d;
  transition: background-color 0.3s, color 0.3s;
}

html.dark body {
  background: #0c0c0d;
  color: #c8c5c1;
  transition: background-color 0.3s, color 0.3s;
}
