@font-face {
  font-family: "Rinter";
  src: url("./fonts/Rinter.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Rinter, sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  background: #0c0c0d;
  background: linear-gradient(
    180deg,
    rgba(12, 12, 13, 1) 46%,
    rgba(23, 20, 37, 1) 89%,
    rgba(23, 20, 37, 1) 100%
  );
}
