.productTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  border-radius: 8px;
  overflow: hidden;
  table-layout: fixed;
}

.productNameCell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.productTable th:nth-child(1) {
  width: 50%;
} /* name */
.productTable th:nth-child(2) {
  width: 15%;
} /* value */
.productTable th:nth-child(3) {
  width: 20%;
} /* quantity */

.productTable th {
  padding: 16px 24px;
  text-align: left;
  color: var(--text);
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.productTable td {
  padding: 18px 24px;
  vertical-align: middle;
}

.productTable tbody tr:last-child td {
  border-bottom: none;
}

.stockStatus {
  padding: 4px 12px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
}

.inStock {
  background-color: var(--quantity-green-bg);
  color: var(--quantity-green-text);
}
.lowStock {
  background-color: var(--quantity-yellow-bg);
  color: var(--quantity-yellow-text);
}
.noStock {
  background-color: var(--quantity-red-bg);
  color: var(--quantity-red-text);
}
.service {
  background-color: var(--quantity-purple-bg);
  color: var(--quantity-purple-text);
}

.actionsCell {
  width: 1%;
  white-space: nowrap;
  text-align: right;
  position: relative;
}

.deleteModal p {
  margin-top: 20px;
}

.deleteModalButtons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 24px;
}

.actionsButton {
  background: none;
  border: none;
  color: var(--text);
  font-size: 16px;
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.2s;
}

.cancelButton {
  color: var(--text);
  background: var(--buttons-bg-secondary);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.cancelButton:hover {
  background: var(--buttons-secondary-hover);
}

.deleteButton {
  color: var(--text);
  background: var(--buttons-bg);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.deleteButton:hover {
  background: var(--buttons-hover);
}

.editProductModalInputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  margin: 40px 0;
}

.editProductModalInputs input {
  background-color: var(--table-child-even);
  border: none;
  color: var(--text);
  height: 40px;
  border-radius: 10px;
  padding: 10px;
}

.editProductModalButtons {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 24px;
}

.cancelButton {
  color: var(--text);
  background: var(--buttons-bg-secondary);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.cancelButton:hover {
  background: var(--buttons-secondary-hover);
}

.saveButton {
  color: var(--text);
  background: var(--buttons-bg);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.saveButton:hover {
  background: var(--buttons-hover);
}

.productTable tbody tr:nth-child(odd) {
  background-color: var(--table-child-odd);
}

.productTable tbody tr:nth-child(even) {
  background-color: var(--table-child-even);
}

.productTable td:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.productTable td:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.productTable tbody tr:hover td {
  background-color: var(--table-child-hover);
}

.emptyStateContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 80px 40px;
  color: var(--text);
  border-radius: 8px;
}

.emptyStateIcon {
  font-size: 32px;
  margin-bottom: 24px;
}

.emptyStateContainer h2 {
  font-size: 16px;
  color: var(--text);
  margin-bottom: 8px;
  font-weight: 600;
}
