.productTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px;
  border-radius: 8px;
  overflow: hidden;
  table-layout: fixed;
}

.productNameCell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 250px;
}

.productTable th:nth-child(1) {
  width: 30%;
} /* coluna name */
.productTable th:nth-child(2) {
  width: 10%;
} /* coluna ID */
.productTable th:nth-child(3) {
  width: 15%;
} /* coluna value */
.productTable th:nth-child(4) {
  width: 20%;
} /* coluna quantity */
.productTable th:nth-child(5) {
  width: 15%;
} /* coluna balance */
.productTable th:nth-child(6) {
  width: 10%;
} /* icon */

.productTable th {
  padding: 16px 24px;
  text-align: left;
  color: #a9a9b2;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.productTable td {
  padding: 18px 24px;
  vertical-align: middle;
}

.productTable tbody tr:last-child td {
  border-bottom: none;
}

.stockStatus {
  padding: 4px 12px;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
}

.inStock {
  background-color: rgba(3, 166, 115, 0.1);
  color: #03a673;
}
.lowStock {
  background-color: rgba(255, 184, 0, 0.1);
  color: #ffb800;
}
.noStock {
  background-color: rgba(239, 68, 68, 0.1);
  color: #ef4444;
}
.service {
  background-color: rgba(167, 155, 222, 0.1);
  color: #a79bde;
}

.actionsCell {
  white-space: nowrap; /* impede a quebra de linha */
  text-align: right;
}

.actionsButton {
  background: none;
  border: none;
  color: #a9a9b2;
  font-size: 16px;
  cursor: pointer;
  padding: 8px;
  transition: background-color 0.2s;
}

/* impares */
.productTable tbody tr:nth-child(odd) {
  background-color: #131215;
}

/* pares */
.productTable tbody tr:nth-child(even) {
  background-color: #1c1b23;
}

.productTable td:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.productTable td:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.productTable tbody tr:hover td {
  background-color: #2c264a;
}
