.header {
  width: 100%;
  padding: 15px 25px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 20px;
}

.gestupLogo img {
  width: 100px;
  display: block;
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 15px;
}

.user {
  background-color: var(--buttons-bg);
  border-radius: 20px;
  padding: 7px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: var(--secondary-color);
}

.faUser {
  display: flex;
  align-items: center;
  padding-bottom: 3px;
}

.profileContainer {
  position: relative;
}
