.themeSwitchWrapper {
  display: flex;
  align-items: center;
}

.themeSwitch {
  position: relative;
  display: inline-block;
  width: 74px;
  height: 38px;
}

.themeSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2a2a3e;
  transition: 0.4s;
  border-radius: 34px;
  border: 2px solid #3c3c5a;
  padding: 2px;
}

.slider.light {
  background-color: #bbd0ff;
  border-color: #9cbaff;
}

.iconWrapper {
  position: relative;
  height: 30px;
  width: 30px;
  background-color: #9a7bff;
  transition: 0.4s;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.iconWrapper.light {
  background-color: #8c7bff;
}

.iconWrapper.checked {
  transform: translateX(36px);
}
