.actionBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header {
  flex-shrink: 0;
}

.header h1 {
  color: var(--text);
  font-size: 20px;
  font-weight: 100;
  white-space: nowrap;
}

.header p {
  color: var(--text);
  font-size: 16px;
  margin-top: 4px;
}

.controlsContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.searchWrapper {
  position: relative;
  width: 350px;
}

.actionsWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.secondaryButton {
  background-color: var(--buttons-bg);
  color: var(--text);
  font-weight: 500;
  font-size: 14px;
  height: 35px;
  padding: 0 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.2s;
}

.secondaryButton:hover {
  background-color: var(--buttons-hover);
}

.searchIcon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--text);
}

.searchWrapper input {
  background-color: var(--search-bg);
  border: none;
  border-radius: 8px;
  height: 35px;
  width: 100%;
  padding-left: 20px;
  color: var(--text);
  font-size: 12px;
}

.searchWrapper input::placeholder {
  color: var(--text);
}

.addButton {
  background-color: var(--buttons-bg);
  color: var(--text);
  font-weight: 300;
  font-size: 14px;
  height: 35px;
  padding: 0 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  transition: opacity 0.2s;
}

.addButton:hover {
  background-color: var(--buttons-hover);
}
