body {
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 30px;
}

.bg-icons {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  pointer-events: none;
  z-index: -1;
}

.bg-arrow {
  position: absolute;
  height: auto;
  opacity: 0.06;
  filter: blur(10px);
}

.bg-arrow:first-of-type {
  width: 55vw;
  left: -10vw;
  bottom: -78vw;
  transform: rotate(340deg);
}

.bg-arrow:nth-of-type(2) {
  width: 60vw;
  right: -15vw;
  bottom: -70vw;
  transform: rotate(385deg) scaleX(-1);
}

h1 {
  color: #fff8f0;
  font-size: 18px;
  text-align: center;
  padding-bottom: 20px;
  cursor: default;
}

img {
  width: 35px;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 40px;
  height: 460px;
  width: 400px;
  border-radius: 45px;
  border: 1px solid #48456c;
  background-image: linear-gradient(
    to top,
    rgba(155, 137, 235, 0.05),
    rgba(255, 255, 255, 0)
  );

  & .name {
    display: flex;
    flex-direction: row;
    gap: 30px;

    & .name-input input {
      width: 145px;
    }
  }

  & p {
    color: #e57373;
    margin-top: 8px;
    font-size: 12px;
  }

  & label {
    color: #fff8f0;
    font-size: 12px;
    margin-bottom: 2px;
  }

  & .input {
    display: flex;
    justify-content: center;
    margin-bottom: 9px;
    margin-top: 7px;
    background: transparent;
    position: relative;
    border-radius: 10px;
    border: none;
  }

  & .input::before,
  .input::after {
    content: " ";
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 12px;
    background-color: transparent;
    padding: 0.5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to bottom, #a79bde, transparent);
    z-index: -1;
  }

  & .input::after {
    filter: blur(4px);
    opacity: 0.2;
  }

  & input {
    border-radius: 12px;
    border: none;
    margin: auto 0;
    background-color: #13131a;
    height: 35px;
    width: 320px;
    color: #fff8f0;
    padding: 0 14px;
    font-size: 15px;
    outline: none;
    transition: border 0.2s, box-shadow 0.2s;
  }

  & .terms {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-left: 7px;
  }

  & .terms-square {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 3px;
    border: 2px solid #a79bde;
    background-color: #181825;
    opacity: 1;
    cursor: pointer;
    position: relative;
    transition: background 0.2s, border 0.2s;
    padding: 0;
  }

  & .terms-square:checked {
    background-color: #a79bde;
    border-color: #a79bde;
  }

  & .terms-square:checked::after {
    content: "";
    position: absolute;
    left: 3px;
    top: 0px;
    width: 5px;
    height: 9px;
    border: solid #fff8f0;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  & .terms-text {
    font-size: 9px;
    color: #fff8f0;
  }

  & .terms-text a {
    color: #a79bde;
    text-decoration: none;
  }

  & button {
    border-radius: 10px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    margin-top: 12px;
    background-color: #a79bde;
    border: none;
  }

  & button:hover {
    opacity: 0.8;
  }
}

.toLogIn {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  height: 60px;
  width: 400px;
  align-items: center;
  justify-content: center;
  border: 1px solid #48456c;
  border-radius: 25px;
  gap: 35px;
  background-image: linear-gradient(
    to top,
    rgba(155, 137, 235, 0.05),
    rgba(255, 255, 255, 0)
  );

  & p {
    font-size: 16px;
    color: #fff8f0;
  }

  & a {
    color: #a79bde;
    text-decoration: none;
  }
}
